*{
    margin: 0;
    padding: 0;
    box-sizing: broder-box;
    font-family: 'poppings', sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/back-image.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}